div(class=classTestimonials)
	.testimonials__center.center.js-tabs
		.testimonials__container
			.testimonials__item.js-tabs-item
				.testimonials__row
					.testimonials__col
						.testimonials__logo
							img(src="img/content/goldlines.svg" alt="Logo")
						.testimonials__comment "Stacks is the cleanest design system I’ve used. It helps a lot of projects done without thinking. Nice Work!"
						.testimonials__details
							.testimonials__icon
								svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24")
									path(fill-rule="evenodd" d="M2.804 5C2 6.392 2 8.262 2 12s0 5.608.804 7A6 6 0 0 0 5 21.196C6.392 22 8.262 22 12 22s5.608 0 7-.804A6 6 0 0 0 21.196 19C22 17.608 22 15.739 22 12s0-5.608-.804-7A6 6 0 0 0 19 2.804C17.608 2 15.739 2 12 2s-5.608 0-7 .804A6 6 0 0 0 2.804 5zm4.708 7.31c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.17.607-2.057 1.381-2.662 2.32C6.331 10.512 6 11.674 6 12.972c0 1.998.929 3.78 2.948 3.78a2.47 2.47 0 0 0 2.135-1.21c.538-.897.466-2.283-.378-3.071-.835-.78-2.207-.944-3.194-.161zm6.576 0c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.169.607-2.057 1.381-2.662 2.32-.661 1.027-.992 2.189-.992 3.487 0 1.998.929 3.78 2.948 3.78 1.367 0 2.476-1.031 2.476-2.476 0-1.571-1.117-2.476-2.476-2.476-.517 0-.995.17-1.436.51z" fill="#777E90")
							.testimonials__author Megane Schumm
							.testimonials__description Legacy Data Coordinator
					.testimonials__col
						.testimonials__preview
							img(srcSet="img/content/testimonials-pic@2x.jpg 2x"
								src="img/content/testimonials-pic.jpg"
								alt="Testimonials")
							button.play.play_small
								+i('play')
			.testimonials__item.js-tabs-item
				.testimonials__row
					.testimonials__col
						.testimonials__logo
							img(src="img/content/velocity9.svg" alt="Logo")
						.testimonials__comment "Stacks is the cleanest design system I’ve used. It helps a lot of projects done without thinking. Nice Work!"
						.testimonials__details
							.testimonials__icon
								svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24")
									path(fill-rule="evenodd" d="M2.804 5C2 6.392 2 8.262 2 12s0 5.608.804 7A6 6 0 0 0 5 21.196C6.392 22 8.262 22 12 22s5.608 0 7-.804A6 6 0 0 0 21.196 19C22 17.608 22 15.739 22 12s0-5.608-.804-7A6 6 0 0 0 19 2.804C17.608 2 15.739 2 12 2s-5.608 0-7 .804A6 6 0 0 0 2.804 5zm4.708 7.31c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.17.607-2.057 1.381-2.662 2.32C6.331 10.512 6 11.674 6 12.972c0 1.998.929 3.78 2.948 3.78a2.47 2.47 0 0 0 2.135-1.21c.538-.897.466-2.283-.378-3.071-.835-.78-2.207-.944-3.194-.161zm6.576 0c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.169.607-2.057 1.381-2.662 2.32-.661 1.027-.992 2.189-.992 3.487 0 1.998.929 3.78 2.948 3.78 1.367 0 2.476-1.031 2.476-2.476 0-1.571-1.117-2.476-2.476-2.476-.517 0-.995.17-1.436.51z" fill="#777E90")
							.testimonials__author Mara Hilpert
							.testimonials__description Web Designer
					.testimonials__col
						.testimonials__preview
							img(srcSet="img/content/testimonials-pic@2x.jpg 2x"
								src="img/content/testimonials-pic.jpg"
								alt="Testimonials")
							button.play.play_small
								+i('play')
			.testimonials__item.js-tabs-item
				.testimonials__row
					.testimonials__col
						.testimonials__logo
							img(src="img/content/velocity9.svg" alt="Logo")
						.testimonials__comment "Stacks is the cleanest design system I’ve used. It helps a lot of projects done without thinking. Nice Work!"
						.testimonials__details
							.testimonials__icon
								svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24")
									path(fill-rule="evenodd" d="M2.804 5C2 6.392 2 8.262 2 12s0 5.608.804 7A6 6 0 0 0 5 21.196C6.392 22 8.262 22 12 22s5.608 0 7-.804A6 6 0 0 0 21.196 19C22 17.608 22 15.739 22 12s0-5.608-.804-7A6 6 0 0 0 19 2.804C17.608 2 15.739 2 12 2s-5.608 0-7 .804A6 6 0 0 0 2.804 5zm4.708 7.31c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.17.607-2.057 1.381-2.662 2.32C6.331 10.512 6 11.674 6 12.972c0 1.998.929 3.78 2.948 3.78a2.47 2.47 0 0 0 2.135-1.21c.538-.897.466-2.283-.378-3.071-.835-.78-2.207-.944-3.194-.161zm6.576 0c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.169.607-2.057 1.381-2.662 2.32-.661 1.027-.992 2.189-.992 3.487 0 1.998.929 3.78 2.948 3.78 1.367 0 2.476-1.031 2.476-2.476 0-1.571-1.117-2.476-2.476-2.476-.517 0-.995.17-1.436.51z" fill="#777E90")
							.testimonials__author Mara Hilpert
							.testimonials__description Legacy Data Coordinator
					.testimonials__col
						.testimonials__preview
							img(srcSet="img/content/testimonials-pic@2x.jpg 2x"
								src="img/content/testimonials-pic.jpg"
								alt="Testimonials")
							button.play.play_small
								+i('play')
			.testimonials__item.js-tabs-item
				.testimonials__row
					.testimonials__col
						.testimonials__logo
							img(src="img/content/goldlines.svg" alt="Logo")
						.testimonials__comment "Stacks is the cleanest design system I’ve used. It helps a lot of projects done without thinking. Nice Work!"
						.testimonials__details
							.testimonials__icon
								svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24")
									path(fill-rule="evenodd" d="M2.804 5C2 6.392 2 8.262 2 12s0 5.608.804 7A6 6 0 0 0 5 21.196C6.392 22 8.262 22 12 22s5.608 0 7-.804A6 6 0 0 0 21.196 19C22 17.608 22 15.739 22 12s0-5.608-.804-7A6 6 0 0 0 19 2.804C17.608 2 15.739 2 12 2s-5.608 0-7 .804A6 6 0 0 0 2.804 5zm4.708 7.31c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.17.607-2.057 1.381-2.662 2.32C6.331 10.512 6 11.674 6 12.972c0 1.998.929 3.78 2.948 3.78a2.47 2.47 0 0 0 2.135-1.21c.538-.897.466-2.283-.378-3.071-.835-.78-2.207-.944-3.194-.161zm6.576 0c-.261-.783-.133-1.903.756-3.014.488-.61 1.056-1.083 1.704-1.421a.41.41 0 0 0 .186-.545c-.095-.184-.319-.261-.503-.166-1.169.607-2.057 1.381-2.662 2.32-.661 1.027-.992 2.189-.992 3.487 0 1.998.929 3.78 2.948 3.78 1.367 0 2.476-1.031 2.476-2.476 0-1.571-1.117-2.476-2.476-2.476-.517 0-.995.17-1.436.51z" fill="#777E90")
							.testimonials__author Megane Schumm
							.testimonials__description Legacy Data Coordinator
					.testimonials__col
						.testimonials__preview
							img(srcSet="img/content/testimonials-pic@2x.jpg 2x"
								src="img/content/testimonials-pic.jpg"
								alt="Testimonials")
							button.play.play_small
								+i('play')
		.testimonials__nav
			a.testimonials__link.js-tabs-link.active(href="#" data-aos="animation-opacity")
				.testimonials__avatar
					img(src="img/content/avatar-4.jpg" alt="Avatar")
				.testimonials__group
					.testimonials__man Jazmin Grady
					.testimonials__position Web Designer
			a.testimonials__link.js-tabs-link(href="#" data-aos="animation-opacity")
				.testimonials__avatar
					img(src="img/content/avatar-5.jpg" alt="Avatar")
				.testimonials__group
					.testimonials__man Kaylah Botsford
					.testimonials__position Web Designer
			a.testimonials__link.js-tabs-link(href="#" data-aos="animation-opacity")
				.testimonials__avatar
					img(src="img/content/avatar-2.jpg" alt="Avatar")
				.testimonials__group
					.testimonials__man Reinhold Ullrich
					.testimonials__position Web Designer
			a.testimonials__link.js-tabs-link(href="#" data-aos="animation-opacity")
				.testimonials__avatar
					img(src="img/content/avatar-3.jpg" alt="Avatar")
				.testimonials__group
					.testimonials__man Josh Bartoletti
					.testimonials__position Web Designer
